<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.crop.dao.SellPurchaseDao">
    <resultMap id="BaseResultMap" type="com.qst.crop.entity.SellPurchase">
        <id column="sell_purchase_id" jdbcType="INTEGER" property="sellPurchaseId" />
        <result column="purchase_id" jdbcType="INTEGER" property="purchaseId" />
        <result column="order_id" jdbcType="INTEGER" property="orderId" />
        <result column="own_name" jdbcType="VARCHAR" property="ownName" />
        <result column="purchase_type" jdbcType="INTEGER" property="purchaseType" />
        <result column="unin_pricee" jdbcType="DECIMAL" property="uninPricee" />
        <result column="sum_price" jdbcType="DECIMAL" property="sumPrice" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="purchase_status" jdbcType="INTEGER" property="purchaseStatus" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">

        sell_purchase_id, purchase_id, order_id,own_name, purchase_type, unin_pricee, sum_price, address,
    purchase_status, create_time, update_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_sell_purchase
        where sell_purchase_id = #{sellPurchaseId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from tb_sell_purchase
        where sell_purchase_id = #{sellPurchaseId,jdbcType=INTEGER}
    </delete>
    <insert id="insertSelective" parameterType="com.qst.crop.entity.SellPurchase">
        insert into tb_sell_purchase
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sellPurchaseId != null">
                sell_purchase_id,
            </if>
            <if test="purchaseId != null">
                purchase_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="ownName != null">
                own_name,
            </if>
            <if test="purchaseType != null">
                purchase_type,
            </if>
            <if test="uninPricee != null">
                unin_pricee,
            </if>
            <if test="sumPrice != null">
                sum_price,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="purchaseStatus != null">
                purchase_status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sellPurchaseId != null">
                #{sellPurchaseId,jdbcType=INTEGER},
            </if>
            <if test="purchaseId != null">
                #{purchaseId,jdbcType=INTEGER},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="ownName != null">
                #{ownName,jdbcType=VARCHAR},
            </if>
            <if test="purchaseType != null">
                #{purchaseType,jdbcType=INTEGER},
            </if>
            <if test="uninPricee != null">
                #{uninPricee,jdbcType=DECIMAL},
            </if>
            <if test="sumPrice != null">
                #{sumPrice,jdbcType=DECIMAL},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="purchaseStatus != null">
                #{purchaseStatus,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_sell_purchase
        where own_name = #{ownName,jdbcType=VARCHAR}
    </select>

    <select id="selectByOwnName" parameterType="java.lang.String" resultType="com.qst.crop.model.MySellPurchase">
        SELECT
            sp.sell_purchase_id as sellPurchaseId,
            sp.purchase_id as purchaseId,
            sp.order_id as orderId,
            sp.own_name as ownName,
            sp.purchase_type as purchaseType,
            sp.unin_pricee as uninPricee,
            sp.sum_price as sumPrice,
            sp.address as address,
            sp.purchase_status as purchaseStatus,
            sp.create_time as createTime,
            sp.update_time as updateTime,
            o.picture as picture,
            o.title as title,
            o.content as content,
            p.own_name as buyerName
        FROM tb_sell_purchase sp
        LEFT JOIN tb_order o ON sp.order_id = o.order_id
        LEFT JOIN tb_purchase p ON sp.purchase_id = p.purchase_id
        WHERE sp.own_name = #{ownName,jdbcType=VARCHAR}
        ORDER BY sp.create_time DESC
    </select>
</mapper>