<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.crop.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.qst.crop.entity.User">
        <id column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="nick_name" jdbcType="VARCHAR" property="nickName" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="identity_num" jdbcType="VARCHAR" property="identityNum" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="role" jdbcType="VARCHAR" property="role" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="integral" jdbcType="INTEGER" property="integral" />
        <result column="credit" jdbcType="INTEGER" property="credit" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    </resultMap>
    <sql id="Base_Column_List">
        user_name, real_name, password, nick_name, phone, identity_num, address, role, create_time,
        update_time, integral, credit, avatar
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_user
        where user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>
